// SPDX-License-Identifier: MIT
pragma solidity ^0.8.0;

import "@openzeppelin/contracts/proxy/transparent/TransparentUpgradeableProxy.sol";
import "@openzeppelin/contracts/proxy/transparent/ProxyAdmin.sol";

contract UpgradeScript {
    
    function upgradeTransparentProxy(
        address proxyAddress,
        address newImplementation,
        address proxyAdmin
    ) external {
        ProxyAdmin(proxyAdmin).upgrade(
            TransparentUpgradeableProxy(proxyAddress),
            newImplementation
        );
    }

    function deployTransparentProxy(
        address logic,
        address admin,
        bytes memory initData
    ) external returns (address) {
        return address(new TransparentUpgradeableProxy(logic, admin, initData));
    }
}
